/* Geeks.css */
.main { 
    text-align: center; 
} 
  
#project_name { 
    text-align: center;
    font-size: 50px; 
    /* position: relative; */
    /* left: 20px; */
    color: white; 
    height: 160px;
    margin-top: 0;
    padding:5rem 6rem;
    /* margin-left: 0; */
    background-image: linear-gradient(to right, rgba(33, 33, 118, 0.736), rgb(26, 116, 26)) 
} 
#common {
    text-align: left;
    font-size: 40px; 
    color: green; 
    /* margin-bottom: 0px;  */
    margin-left: 200px; 
    /* margin-right: 0px; */
}
#common_text {
    text-align: left;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 26px; 
    color: rgb(25, 24, 24); 
    /* margin-bottom: 0px;  */
    margin-left: 200px; 
    margin-right: 200px;
} 
#geeks { 
    font-size: 25px; 
    color: skyblue; 
}
/* body{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    color: black; 
    font-size: 10pt; 
    font-family: "Trebuchet MS", sans-serif;
    background-color: #E2E2E2;
} */
#grad {
    height: 200px;
    background-image: linear-gradient(to right, blue, green) 
}
.box{
    float:left;
    margin-right:20px;
}
.clear{
    clear:both;
}
#wrapper { 
    width: 920px; 
    height: auto; 
    margin: 0 auto;
} 
#home1 { 
    width: 47.5%; 
    height: 540px; 
    float: left; 
    margin-right: 5%;
} 

#home2 { 
    width: 47.5%; 
    height: 540px; 
    float: center; 
    /* margin-right: 5%; */
}

.clear{
    clear: both;
}
@media (max-width:767px) {
    #wrapper{
        width: 100%;
        height: auto;
        display: inline-block;
    }
    #home1 {
        width: 100%;
        height: auto;
        float: none;
    }
    #home2 {
        width: 100%;
        height: auto;
        float: none;
    }
}
;